# ****************************** Environment Variables for the Applications ****************************** #
#                                                                                                          #
# - This file contains sensitive information and should not be shared publicly.                            #
# - Make sure to add this file to your .gitignore to prevent it from being pushed to version control.      #
# - Use environment variables to manage sensitive data securely.                                           #
# - Ensure that the values are correct and match your local or production environment settings.            #
# - For more information on how to use .gitignore, see https://help.github.com/articles/ignoring-files/    #
#                                                                                                          #
# ******************************************************************************************************** #

NODE_ENV="development"
# You can use: development, production, etc.

# - SHARED ***********************************************************************************************
#
# Base URL for web application
VITE_BASE_URL="http://localhost:5173"
# API URL for api application
VITE_API_URL="http://localhost:3001"
# Port for web application
BASE_PORT=5173
# Port for api application
API_PORT=3001
#
# ********************************************************************************************************


# - DATABASE *********************************************************************************************
#
# PostgreSQL database connection details
DB_USER="postgres"
DB_HOST="localhost"
DB_NAME="piing"
DB_PASSWORD=""
DB_PORT=5432
# 
# ********************************************************************************************************


# - JWT **************************************************************************************************
#
# JWT secret key for signing tokens
JWT_SECRET="your_jwt_secret_here"
#
# ********************************************************************************************************


# - EMAIL ************************************************************************************************
#
# SMTP configuration for sending emails
SMTP_HOST=""
SMTP_PORT=465
SMTP_USER=""
SMTP_PASS=""
SMTP_FROM=""
#
# ********************************************************************************************************